<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Search Fields</h1>



<div style="float:right">
    <h2>Created Indexes</h2>
    <div style="border:solid;"> dcat:Dataset: {{ dcat_dataset_size }} </div>
    <div style="border:solid;"> dcat:Distribution: {{ dcat_distr_size }} </div>
    <div style="border:solid;"> Measurements: {{ measurement_size }} </div>
</div>



<form method="POST">
    <div align="center">
    <h1>Query time:{{query_time}}</h1>
    </div>


  <select name="search_type">
      <option value="dcat_dataset_domain" {% if search_type =="dcat_dataset_domain" %} selected {% endif %}>In domains of dcat:Dataset</option>
      <option value="dcat_dataset_titles" {% if search_type =="dcat_dataset_titles" %} selected {% endif %}>In titles of dcat:Dataset</option>
      <option value="dcat_dataset_description" {% if search_type =="dcat_dataset_description" %} selected {% endif %}>In descriptions of dcat:Dataset</option>
      <option value="dcat_dataset_keywords">In keywords of dcat:Dataset</option>
      <option value="dcat_distribution_domain">In domains dcat:Distribution</option>
  </select>
  <br><br>
    <label for="title">Enter search </label>
    <input type="text" name="search_query" value={{search_query}}>
    <input type="submit">

   <p>{{ message }}</p>
<ol>
    {% for resp in response %}
    <li><p>{{ resp }}</p></li>
    {%endfor%}
</ol>

</form>



<!--


<form method="POST">
    <label>In titles of dcat:Dataset: </label>
    <input type="text" name="search_in_title" value="{{ text_val}}">
    <input type="submit"/>
    <p>{{ message }}</p>
<ol>
    {% for resp in response %}
    <li><p>{{ resp }}</p></li>
    {%endfor%}
</ol>
</form>




<form method="POST">
    <label for="title">In descriptions of dcat:Dataset: </label><input type="text" name="dataset_description" value="{{ text_val}}">
    <input type="submit"/>
</form>


<form method="POST">
    <label for="title">In keywords of dcat:Dataset: </label><input type="text" name="dataset_keyword" value="{{ text_val}}">
    <input type="submit"/>
</form>


<form method="POST">
    <label for="title">In domains dcat:Distribution: </label><input type="text" name="distribution_domain" value="{{ text_val}}">
    <input type="submit"/>
</form>


<button onclick="myFunction()">Hide elements</button>

<h2 class="city">London</h2>
<p>London is the capital of England.</p>

<h2 class="city">Paris</h2>
<p>Paris is the capital of France.</p>

<h2 class="city">Tokyo</h2>
<p>Tokyo is the capital of Japan.</p>



<script>
function myFunction() {
  var x = document.getElementsByClassName("city");
  for (var i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
}
</script>
-->



</body>
</html>

